In [1]:
# Import the Utility Functions
import pandas as pd
import mls_utils as utils

df = pd.read_csv("Clean_Data/mls_condo_cleaned_nostring.csv")
df.head()

,Zip,Bedrooms,Total Baths,SqFt,Acres,Year Built,List Price,Sold Price,Days on Market,Over Asking,Lat,Lon,Cluster
0,27516,3,2,1782,1,2013,1000000,1500000,75,500000,35.9162,-79.0999,1
1,27516,4,4,3157,1,2013,1600000,2000000,15,400000,35.9162,-79.0999,1
2,27516,3,3,2183,1,2013,1400000,1650000,19,250000,35.9162,-79.0999,1
3,27516,2,2,1128,5,2013,589900,755000,29,165100,35.9162,-79.0999,1
4,27612,2,2,1745,1,2006,450000,565000,10,115000,35.8520,-78.6841,0

In [2]:
#Select features and target variables
features = ['SqFt', 'Total Baths', 'Bedrooms', 'Year Built', 'Acres', 'Zip', 'Lat', 'Lon', 'Days on Market', 'Over Asking'] # Dropping List Price as it is a direct predictor of Sold Price
target = 'Sold Price'

In [3]:
#Call the split_data function to split the data into training and testing sets
X_train, X_test, y_train, y_test = utils.split_data(df, features, target)

In [4]:
##Build a function to call the Regression Tree Functions within the utils file
##dt_regressor = utils.train_decision_tree_model(X_train, y_train)
#dt_regressor = utils.tune_hyperparameters(X_train, y_train, 'decision_tree')
#dt_train_mse, dt_test_mse, dt_train_r2, dt_test_r2 = utils.evaluate_model(dt_regressor, X_train, X_test, y_train, y_test)


#print(f'Decision Tree - Train MSE: {dt_train_mse}')
#print(f'Decision Tree - Test MSE: {dt_test_mse}')
#print(f'Decision Tree - Train R2: {dt_train_r2}')
#print(f'Decision Tree - Test R2: {dt_test_r2}')

##utils.visualize_tree(dt_regressor, features)

In [5]:
# Linear Regression Model
lr_regressor = utils.train_linear_regression_model(X_train, y_train, alpha=1.0)
lr_train_mse, lr_test_mse, lr_train_r2, lr_test_r2 = utils.evaluate_model(lr_regressor, X_train, X_test, y_train, y_test)
    
print(f'Linear Regression - Train MSE: {lr_train_mse}')
print(f'Linear Regression - Test MSE: {lr_test_mse}')
print(f'Linear Regression - Train R2: {lr_train_r2}')
print(f'Linear Regression - Test R2: {lr_test_r2}')

Linear Regression - Train MSE: 22225222795.880047
Linear Regression - Test MSE: 17785019248.653816
Linear Regression - Train R2: 0.4962308636142828
Linear Regression - Test R2: 0.50243035799033

In [12]:
# Random Forest Model
#rf_regressor = utils.train_random_forest_model(X_train, y_train, max_depth=50)
rf_regressor = utils.tune_hyperparameters(X_train, y_train, 'random_forest')
rf_train_mse, rf_test_mse, rf_train_r2, rf_test_r2 = utils.evaluate_model(rf_regressor, X_train, X_test, y_train, y_test)
    
print(f'Random Forest - Train MSE: {rf_train_mse}')
print(f'Random Forest - Test MSE: {rf_test_mse}')
print(f'Random Forest - Train R2: {rf_train_r2}')
print(f'Random Forest - Test R2: {rf_test_r2}')

Random Forest - Train MSE: 265881.201058201
Random Forest - Test MSE: 4881579731.902351
Random Forest - Train R2: 0.9999939733903112
Random Forest - Test R2: 0.8634285492927896

In [14]:
#SVM Model
svm_regressor = utils.train_svm_model(X_train, y_train)
###svm_regressor = hu.tune_hyperparameters(X_train, y_train, 'svm')
svm_train_mse, svm_test_mse, svm_train_r2, svm_test_r2 = utils.evaluate_model(svm_regressor, X_train, X_test, y_train, y_test)
    
print(f'SVM - Train MSE: {svm_train_mse}')
print(f'SVM - Test MSE: {svm_test_mse}')
print(f'SVM - Train R2: {svm_train_r2}')
print(f'SVM - Test R2: {svm_test_r2}')

SVM - Train MSE: 28024227040.614872
SVM - Test MSE: 21465984625.79378
SVM - Train R2: 0.364787440657519
SVM - Test R2: 0.39944837077138695

In [15]:
# KNN Model
#knn_regressor = utils.train_knn_model(X_train, y_train)
knn_regressor = utils.tune_hyperparameters(X_train, y_train, 'knn')
knn_train_mse, knn_test_mse, knn_train_r2, knn_test_r2 = utils.evaluate_model(knn_regressor, X_train, X_test, y_train, y_test)

print(f'KNN - Train MSE: {knn_train_mse}')
print(f'KNN - Test MSE: {knn_test_mse}')
print(f'KNN - Train R2: {knn_train_r2}')
print(f'KNN - Test R2: {knn_test_r2}')

KNN - Train MSE: 18293021598.7155
KNN - Test MSE: 18964266938.20683
KNN - Train R2: 0.5853603008929803
KNN - Test R2: 0.4694386674822618